
<h4 class="mt-5 pt-5"><strong><%= @user.name + "のページ" %></strong></h4>
<div>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>詳細</th>
      <th>終了期限</th>
      <th>ステータス</th>
      <th>優先度</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.details %></td>
        <td><%= task.limit %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'userを編集する',edit_admin_user_path(@user) %>
<br>
<%= link_to 'userを削除する',[:admin, @user], method: :delete, data:{ confirm: '本当に削除していいですか？' } %>
