<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <ul class="">
        <li class="head text-white text-left"><h5>Task_Management</h5></li>
        <li class="head text-white "><%= link_to 'タスクを作る', new_task_path %></li>
        <li class="head text-white "><%= link_to 'タスク一覧', tasks_path %></li>
        <li class="head text-white ">アカウント詳細</li>
        <li class="head text-white ">ログアウト</li>
      </ul> 
    </header>
  <%= yield %>
  </body>
</html>
